.git
.gitignore
.DS_Store
**/.DS_Store
**/.elixir_ls
**/_build
**/deps
**/node_modules
**/.next
**/coverage
**/cover
**/*.log
**/debug_out.txt
**/form_failures.txt
**/test_failures.txt

examples/demo/backend/priv/static/cache_manifest.json
examples/demo/backend/priv/static/assets
examples/demo/backend/priv/static/**/*.gz
